<%= form_with(model: isp, local: true) do |form| %>
  <% if isp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(isp.errors.count, "error") %> prohibited this isp from being saved:</h2>

      <ul>
        <% isp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :lowest_price %>
    <%= form.number_field :lowest_price %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :max_speed %>
    <%= form.text_area :max_speed %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :contact_no %>
    <%= form.text_area :contact_no %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
